@charset "utf-8";

/**
 * Styles for Assignment 5 (Movie Display)
 * Author: Evan van Oostrum
 * Date: 12/02/2024
 * 
 * Last edited: 12/02/2024
 * Filename: movieStyles.php
*/

h1 {
    font-size: 20pt;
}

td {
    padding: 8px;
    max-width: 350px;
}

img {
    max-width: 100%;
}

div.movieInfo {
    padding: 8px;
    padding-left: 20px;
}

div.moviePoster {
    padding: 8px;
}